name: Build and push demo pipeline image

on:
  # execute on every PR made targeting the branches bellow
  pull_request:
    branches:
      - main
      - develop # can be removed on main merge
    paths: # we only include paths critical for building to avoid unnecessary runs
      - src/**
      - include/**
      - scripts/cmake/**
      - test/**
      - .github/workflows/**
      - doc/**
      - runtime/**
      - docker/**

  # execute on every push made targeting the branches bellow
  push:
    branches:
      - main
      - develop # can be removed on main merge
    paths: # we only include paths critical for building to avoid unnecessary runs
      - src/**
      - include/**
      - scripts/cmake/**
      - test/**
      - .github/workflows/**
      - doc/**
      - runtime/**
      - docker/**
  #schedule:
    #- cron: '0 4 * * *' # 04:00 AM UTC every day

jobs:
  build-and-push-demo:
    if: github.repository_owner == 'asam-ev'
      runs-on: ubuntu-22.04

      permissions:
        contents: read
        packages: write

      steps:
        - name: Checkout code
          uses: actions/checkout@v3
          with:
            ref: develop # @TODO remove it later

        - name: Get current date
          id: date
          run: echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Log in to GitHub Container Registry
          uses: docker/login-action@v3
          with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and push Docker image
          uses: docker/build-push-action@v6
          with:
            context: .
            file: docker/Dockerfile.linux
            push: true
            target: demo_pipeline
            tags: |
              ghcr.io/${{ github.repository_owner }}/qc-framework:demo-pipeline-latest
              ghcr.io/${{ github.repository_owner }}/qc-framework:demo-pipeline-${{ env.DATE }}
